package templates

import (
	"strings"
	"github.com/blocklisted/stormworks-metrics/types"
)

templ Status(data []types.Entry) {
	<table id="status">
		<tr>
			for _, v := range data {
				<th>{ strings.Title(v.K) }</th>
			}
		</tr>
		<tr>
			for _, v := range data {
				<td>{ v.V }</td>
			}
		</tr>
	</table>
}

templ StatusPage() {
	@Base("Status") {
		<div hx-ext="ws" ws-connect="/status_updates">
			<h1>Status Information</h1>
			<div id="status"></div>
		</div>
	}
}
